
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Obilet.com</title>
    <meta name="description" content="">
    <link rel="icon" href="https://www.obilet.com/Mobile/favicon/favicon.ico">


    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/select2-bootstrap4-theme.css" rel="stylesheet" />

    <!-- JS -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
</head>
<body>


    <div class="container" style="padding: 0px 300px 300px 300px;">

        <div class="pb-md-4">
            @RenderBody()
        </div>

    </div>
 
</body>
</html>
