
@{
    ViewBag.Title = "FindJourney";
}

<div class="p-3 bg-primary">
    <h5 class="my-0 font-weight-bold text-white">İstanbul Avrupa - Ankara</h5>
</div>


<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <p style="font-size:10px">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; VARIŞ</p>
                <p class="font-weight-bold">09:30 <i class="fa fa-long-arrow-right"></i> 11:30</p>

            </div>
            <div class="col-3">
                <small class="btn btn-danger" type="button" name="name">1705,00 TL</small>

            </div>
        </div>
        <p class="card-text">Esenler Otogarı - Ankara Aşti Otogarı Ankara Aşti Otogarı </p>

    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <p style="font-size:10px">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; VARIŞ</p>
                <p class="font-weight-bold">09:30 <i class="fa fa-long-arrow-right"></i> 11:30</p>

            </div>
            <div class="col-3">
                <small class="btn btn-danger" type="button" name="name">1705,00 TL</small>

            </div>
        </div>
        <p class="card-text">Esenler Otogarı - Ankara Aşti Otogarı Ankara Aşti Otogarı </p>

    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <p style="font-size:10px">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; VARIŞ</p>
                <p class="font-weight-bold">09:30 <i class="fa fa-long-arrow-right"></i> 11:30</p>

            </div>
            <div class="col-3">
                <small class="btn btn-danger" type="button" name="name">1705,00 TL</small>

            </div>
        </div>
        <p class="card-text">Esenler Otogarı - Ankara Aşti Otogarı Ankara Aşti Otogarı </p>

    </div>
</div>

<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <p style="font-size:10px">KALKIŞ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; VARIŞ</p>
                <p class="font-weight-bold">09:30 <i class="fa fa-long-arrow-right"></i> 11:30</p>

            </div>
            <div class="col-3">
                <small class="btn btn-danger" type="button" name="name">1705,00 TL</small>

            </div>
        </div>
        <p class="card-text">Esenler Otogarı - Ankara Aşti Otogarı Ankara Aşti Otogarı </p>

    </div>
</div>
